
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-cli/

tests/divisionsFlows/_explore2.spec.ts

data/*
config/env.ts
.DS_Store
test-results/
playwright-report/
